In [1]:
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt
%matplotlib inline

import requests

In [2]:
from bs4 import BeautifulSoup

In [3]:
web = 'https://en.wikipedia.org/wiki/1974_FIFA_World_Cup'

In [4]:
response = requests.get(web)

In [5]:
content = response.text

In [6]:
soup = BeautifulSoup(content, 'lxml')

In [7]:
table = soup.find('tr', {'style':'background:gold'})

In [8]:
sn = table.find('td')
team_ = sn.find_next_sibling('td')
team = team_.text
team = team[1:]
group_ = team_.find_next_sibling('td')
group = group_.text
total_game_played_ = group_.find_next_sibling('td')
total_game_played = total_game_played_.text
win_ = total_game_played_.find_next_sibling('td')
win = win_.text
draw_ = win_.find_next_sibling('td')
draw = draw_.text
loss_ = draw_.find_next_sibling('td')
loss = loss_.text
points_ = loss_.find_next_sibling('td')
points = points_.text
total_goals_scored_ = points_.find_next_sibling('td')
total_goals_scored = total_goals_scored_.text
total_goals_conceded_ = total_goals_scored_.find_next_sibling('td')
total_goals_conceded = total_goals_conceded_.text[1:]
goal_diff_ = total_goals_conceded_.find_next_sibling('td')
goal_diff = goal_diff_.text[:-1]

### Runner Up Team

In [9]:
runner_up_team = soup.find('tr', {'style':'background:silver'})

In [10]:
runner_up = runner_up_team.find('a', {'title':'Netherlands national football team'}).text
runner_up

'Netherlands'

### Awards

In [11]:
#golden_ball = soup.find('a', attrs= {'title': 'Lionel Messi'}).text
golden_ball = np.nan
#golden_boot = soup.find('a', attrs= {'title': 'Gerd MÃ¼ller'}).text
golden_boot = np.nan
#golden_glove = soup.find('a', attrs= {'title': 'Manuel Neuer'}).text
golden_glove = np.nan

### Refree That Blew Final

In [12]:
#refree = soup.find('a', attrs= {'title': 'Jack Taylor'}).text
refree = 'Jack Taylor'
refree

'Jack Taylor'

### Year

In [13]:
year = soup.find('span', {'class':"mw-page-title-main"}).text
year = year[:4]
year

'1974'

### Host Country

In [14]:
#soup.p.next_element

In [15]:
#host = soup.find('a', {'title':"Uruguay national football team"}).text
host = 'West Germany'
host

'West Germany'

### Prize

In [16]:
prize = np.nan

### Attendance

In [17]:
Attendance = 75200

In [18]:
winner = {'Team': team, 'G':group, 'Pld':total_game_played, 'W':win, 'D':draw, 'L':loss, 'Pts':points, 
            'GF':total_goals_scored, 'GA':total_goals_conceded, 'GD':goal_diff, 'Golden Ball': golden_ball, 
            'Golden Boot':golden_boot, 'Golden Glove':golden_glove, 'Prize': prize, 'Year': year, 'Refree':refree, 
          'Host': host, 'Runner_up':runner_up, 'Attendance':Attendance}

df_winner = pd.DataFrame(winner, index=[0])
df_winner

,Team,G,Pld,W,D,L,Pts,GF,GA,GD,Golden Ball,Golden Boot,Golden Glove,Prize,Year,Refree,Host,Runner_up,Attendance
0,West Germany,1/B,7,6,0,1,13,4,9,12,NaN,NaN,NaN,NaN,1974,Jack Taylor,West Germany,Netherlands,75200

In [19]:
df_winner.to_csv('data/1974.csv', index = False)