In [1]:
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt
%matplotlib inline

import requests

In [2]:
from bs4 import BeautifulSoup

In [3]:
web = 'https://en.wikipedia.org/wiki/1990_FIFA_World_Cup'

In [4]:
response = requests.get(web)

In [5]:
content = response.text

In [6]:
soup = BeautifulSoup(content, 'lxml')

In [7]:
#sn = table.find('td')
team = soup.find('a', {'title':"Germany national football team"}).text
#team = team_.text
#team = team[1:]
#group_ = team_.find_next_sibling('td')
group_ = soup.find('td', {'style': 'font-weight: normal;background-color:gold;'})
group = group_.text
group = group[:-1]
total_game_played_ = group_.find_next_sibling('td')
total_game_played = total_game_played_.text
total_game_played = total_game_played[:-1]
win_ = total_game_played_.find_next_sibling('td')
win = win_.text
win = win[:-1]
draw_ = win_.find_next_sibling('td')
draw = draw_.text
draw = draw[:-1]
loss_ = draw_.find_next_sibling('td')
loss = loss_.text
loss = loss[:-1]
points_ = loss_.find_next_sibling('td')
points = points_.text
points = points[:-1]
total_goals_scored_ = points_.find_next_sibling('td')
total_goals_scored = total_goals_scored_.text
total_goals_scored = total_goals_scored[:-1]
total_goals_conceded_ = total_goals_scored_.find_next_sibling('td')
total_goals_conceded = total_goals_conceded_.text
total_goals_conceded = total_goals_conceded[1:-1]
goal_diff_ = total_goals_conceded_.find_next_sibling('td')
goal_diff = goal_diff_.text[:-1]

### Runner Up Team

In [8]:
runner_up = soup.find('a', {'title':'Argentina national football team'}).text
runner_up

'Argentina'

### Awards

In [9]:
golden_ball = soup.find('a', attrs= {'title': 'Salvatore Schillaci'}).text
#golden_ball = np.nan
golden_boot = soup.find('a', attrs= {'title': 'Salvatore Schillaci'}).text
#golden_boot = np.nan
#golden_glove = soup.find('a', attrs= {'title': 'Manuel Neuer'}).text
golden_glove = np.nan

### Refree That Blew Final

In [10]:
refree = soup.find('a', attrs= {'title': 'Edgardo Codesal'}).text
#refree = 'Jack Taylor'
refree

'Edgardo Codesal'

### Year

In [11]:
year = soup.find('span', {'class':"mw-page-title-main"}).text
year = year[:4]
year

'1990'

### Host Country

In [12]:
#soup.p.next_element

In [13]:
#host = soup.find('a', {'title':"Uruguay national football team"}).text
host = 'Italy'
host

'Italy'

### Prize

In [14]:
prize = np.nan

### Attendance

In [15]:
Attendance = 73603

In [16]:
winner = {'Team': team, 'G':group, 'Pld':total_game_played, 'W':win, 'D':draw, 'L':loss, 'Pts':points, 
            'GF':total_goals_scored, 'GA':total_goals_conceded, 'GD':goal_diff, 'Golden Ball': golden_ball, 
            'Golden Boot':golden_boot, 'Golden Glove':golden_glove, 'Prize': prize, 'Year': year, 'Refree':refree, 
          'Host': host, 'Runner_up':runner_up, 'Attendance':Attendance}
df_winner = pd.DataFrame(winner, index=[0])
df_winner

,Team,G,Pld,W,D,L,Pts,GF,GA,GD,Golden Ball,Golden Boot,Golden Glove,Prize,Year,Refree,Host,Runner_up,Attendance
0,West Germany,D,7,5,2,0,15,5,10,12,Salvatore Schillaci,Salvatore Schillaci,NaN,NaN,1990,Edgardo Codesal,Italy,Argentina,73603

In [17]:
df_winner.to_csv('data/1990.csv', index = False)