In [1]:
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt
%matplotlib inline

import requests

In [2]:
from bs4 import BeautifulSoup

In [3]:
year = ['1930', '1934', '1938','1950', '1954', '1958','1962','1966','1970','1974','1978','1982',
        '1986','1990','1994','1998','2002','2006','2010','2014','2018']

In [4]:
web = 'https://en.wikipedia.org/wiki/1982_FIFA_World_Cup'

In [5]:
response = requests.get(web)

In [6]:
content = response.text

In [7]:
soup = BeautifulSoup(content, 'lxml')

In [8]:
table = soup.find('tr', {'style':'background:gold'})

In [9]:
#table

<tr style="background:gold">
<td>1</td>
<td style="text-align:left"><span style="white-space:nowrap"><span class="flagicon"><img alt="" class="thumbborder" data-file-height="600" data-file-width="1000" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/en/thumb/b/ba/Flag_of_Germany.svg/23px-Flag_of_Germany.svg.png" srcset="//upload.wikimedia.org/wikipedia/en/thumb/b/ba/Flag_of_Germany.svg/35px-Flag_of_Germany.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/b/ba/Flag_of_Germany.svg/46px-Flag_of_Germany.svg.png 2x" width="23"/> </span><a href="/wiki/Germany_national_football_team" title="Germany national football team">West Germany</a></span></td>
<td><a href="#Group_1">1</a>/<a href="#Group_B">B</a></td>
<td>7</td>
<td>6</td>
<td>0</td>
<td>1</td>
<td>13</td>
<td>4</td>
<td>+9</td>
<td>12
</td></tr>

In [10]:
sn = table.find('td')
team_ = sn.find_next_sibling('td')
team = team_.text
team = team[1:]
group_ = team_.find_next_sibling('td')
group = group_.text
total_game_played_ = group_.find_next_sibling('td')
total_game_played = total_game_played_.text
win_ = total_game_played_.find_next_sibling('td')
win = win_.text
draw_ = win_.find_next_sibling('td')
draw = draw_.text
loss_ = draw_.find_next_sibling('td')
loss = loss_.text
points_ = loss_.find_next_sibling('td')
points = points_.text
total_goals_scored_ = points_.find_next_sibling('td')
total_goals_scored = total_goals_scored_.text
total_goals_conceded_ = total_goals_scored_.find_next_sibling('td')
total_goals_conceded = total_goals_conceded_.text
goal_diff_ = total_goals_conceded_.find_next_sibling('td')
goal_diff = goal_diff_.text

In [11]:
team, group,total_game_played, win, draw, loss, points, total_goals_scored, total_goals_conceded, goal_diff

('West Germany', '1/B', '7', '6', '0', '1', '13', '4', '+9', '12\n')

### Runner Up Team

In [12]:
runner_up_team = soup.find('tr', {'style':'background:silver'})

In [13]:
runner_up = runner_up_team.find('a', {'title':'Netherlands national football team'}).text

In [14]:
runner_up

'Netherlands'

### Awards

In [15]:
#golden_ball = soup.find('a', attrs= {'title': 'Lionel Messi'}).text
golden_ball = np.nan
#golden_boot = soup.find('a', attrs= {'title': 'Gerd Müller'}).text
golden_boot = np.nan
#golden_glove = soup.find('a', attrs= {'title': 'Manuel Neuer'}).text
golden_glove = np.nan

### Refree That Blew Final

In [16]:
#refree = soup.find('a', attrs= {'title': 'Jack Taylor'}).text
refree = 'Jack Taylor'

In [17]:
refree

'Jack Taylor'

### Year

In [18]:
year = soup.find('span', {'class':"mw-page-title-main"}).text

In [19]:
year = year[:4]
year

'1974'

### Host Country

In [20]:
#soup.p.next_element

In [21]:
#host = soup.find('a', {'title':"Uruguay national football team"}).text
host = 'West Germany'

In [22]:
host

'West Germany'

### Prize

In [23]:
prize = np.nan

In [24]:
winner = {'Team': team, 'G':group, 'Pld':total_game_played, 'W':win, 'D':draw, 'L':loss, 'Pts':points, 
            'GF':total_goals_scored, 'GA':total_goals_conceded, 'GD':goal_diff, 'Golden Ball': golden_ball, 
            'Golden Boot':golden_boot, 'Golden Glove':golden_glove, 'Prize': prize, 'Year': year, 'Refree':refree, 'Host': host, 'Runner_up':runner_up}

In [25]:
df_winner = pd.DataFrame(winner, index=[0])

In [26]:
df_winner

,Team,G,Pld,W,D,L,Pts,GF,GA,GD,Golden Ball,Golden Boot,Golden Glove,Prize,Year,Refree,Host,Runner_up
0,West Germany,1/B,7,6,0,1,13,4,+9,12\n,NaN,NaN,NaN,NaN,1974,Jack Taylor,West Germany,Netherlands